<footer id="footer" class="c-footer">
    <div class="o-row o-row--no-margin o-row--mobile-loose">
        <div class="o-grid-container c-footer__container">
            footer content
        </div>
    </div>
</footer>